[project]
name = "markdown-semantic-search"
version = "1.0.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "duckdb>=1.4.3",
    "requests>=2.32.5",
]
